body{
    background-color: #a86832;
}

*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    padding: 20px 80px;
    width: 100%;
    background-color: #1f2937;
    justify-content: space-around;
}

.Home ul{
    display: flex;
    gap: 10px;
    list-style-type: none; /*List se dot hatanne ke liye */
}

.button{
    border: none;
    transition: all 0.3s ease-in-out;
}

button:hover{
    cursor: pointer;
    color: azure;
    padding: 5px 10px;
    background-color: #1144A3;
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
}

.logo h2{
    color: antiquewhite;
}

.Home ul{
    color: aliceblue;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
}

.para h2{
    color: antiquewhite;
   
}

.para p{
    color: aliceblue;
}

.img img{
    width: 100%;
    margin-right: 250px;
    transition: all 0.5s ease-in-out;
    border-radius: 20px; 
}

.hero .img:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.client-section{
    justify-content: center;
    top: 0%;
}

.logo{
    display: flex;
    justify-content: space-evenly;
}

.heading{
    text-align: center;
    color: rgb(227, 233, 238);
}

.logo div img{
    width: 200px;
    border-radius: 10px;
}

.logo div img:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    box-shadow: 2px 3px 20px 5px silver;
}