.parent{
    display: flex;
    background-color: brown;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;

}

.child{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: center; 
    align-items: center;
}