/* .load{
    position: absolute;
    top: 40%;
    left: 50%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-top: 1px solid black;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
} */