#parent{
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    justify-content: center;
    margin-top: 200px; 
}

.child{
    background-color: aqua;
    align-content: center;
    text-align: center;
}

.child:nth-child(2){
    background-color: rgb(174, 255, 127);
}

.child:nth-child(3n){
    background-color: aquamarine;
}