#parent{
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(5, 100px); 
    gap: 10px;
}

.child{
    background-color: rgb(196, 125, 18);
}

.child:nth-child(1){
    grid-column: span 7;
}

.child:nth-child(2){
    grid-row: span 3;
}

.child:nth-child(3){
    grid-column: span 6;
    grid-row: span 2;
}

.child:nth-child(4){
    grid-column: span 3;
}

.child:nth-child(5){
    grid-column: span 3;
}

.child:nth-child(6){
    grid-column: span 7;
}