#parent{
    display: grid;
    grid-template-columns: repeat(7, 100px) ;
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    justify-content: center;
}

.child{
    background-color: bisque;
}

.child:nth-child(1){
    grid-column: span 6;
}

.child:nth-child(3){
    grid-row: span 5;
    grid-column: span 2;
}

.child:nth-child(4){
    grid-row: span 4;
    grid-column: span 5;
}

.child:nth-child(5){
    grid-column: span 5;
}